{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={% static 'main.css' %} />
    <title>Calculadora Itla</title>
  </head>

  <body>
    <main>
      <section class="top-container">
        <header>
          <div class="logo">
            <h2>mi logo</h2>
          </div>
          <div class="login">
            <h2>login</h2>
          </div>
        </header>
      </section>

      <section class="main-container">
        <section class="app">
          <div class="modes">
            <li class="basic"><a href="#">Basic</a></li>
            <li class="basic"><a href="#">Basic</a></li>
            <li class="basic"><a href="#">Basic</a></li>
            <li class="basic"><a href="#">Basic</a></li>
            <li class="basic"><a href="#">Basic</a></li>
            <li class="basic"><a href="#">Basic</a></li>
            <li class="basic"><a href="#">Basic</a></li>
            <li class="basic"><a href="#">Basic</a></li>
            <li class="basic"><a href="#">Basic</a></li>
            <li class="basic"><a href="#">Basic</a></li>
          </div>
          <div class="keyboard">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">10</a></li>

            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">10</a></li>

            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">10</a></li>
          </div>
          <div class="input">
            <div class="components">
              <input type="text" placeholder="Ingresa un problema" />

              <button>Ir</button>
            </div>
          </div>
        </section>
      </section>
    </main>
  </body>
</html>
